<body>
    <div class="row" id="navbar-big">
        <nav class="navbar navbar-expand-lg navbar-dark bg-nav-project fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand font-h3" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse font-subtext" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                            <a class="nav-link active" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">WORK</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#footer">CONTACT</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">ABOUT ME</a>
                    </li>
                    </ul>
                    <ul class="navbar-nav d-flex">
                        <li class="nav-item">
                            <a class="nav-link" href="/register">SIGN UP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">LOGIN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div> 
</body>
