<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.js"></script> 
    <script src="assets/js/popper.js"></script> 
    <script src="https://kit.fontawesome.com/484cc8aa05.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="login">
            <div class="form-outline mb-4">
                Username : <%= user.username %>
            </div>

            <div class="form-outline mb-4">
                Password : <%= user.password %>                
            </div>

            <div class="form-outline mb-4">
                Role : <%= user.role %>                
            </div>
            <br>     
            
            


            <form method="POST" action="/update/<%= user.id %>" >
                <div class="form-outline mb-4">
                    <input name="username" type="text" id="form3Example4" class="form-control form-control-sm"
                  placeholder="Input New Username" />
                </div>
    
                <div class="form-outline mb-4">
                    <input name="password" type="text" id="form3Example4" class="form-control form-control-sm"
                    placeholder="Input New Password" />              
                </div>
    
                <div class="form-outline mb-4">
                    <input name="role" type="text" id="form3Example4" class="form-control form-control-sm"
                    placeholder="Input New Role" />              
                </div>
                
                

                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>   
</body>
</html>