<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.js"></script> 
    <script src="assets/js/popper.js"></script> 
    <script src="https://kit.fontawesome.com/484cc8aa05.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col offset-lg-7">
                <div class="login">
                    <form method="POST" action="/create" >
                      <div class="form-outline mb-4">
                        <input name="username" type="text" id="form3Example3" class="form-control form-control-sm"
                        placeholder="Input Username" />
              
                        <input name="password" type="text" id="form3Example4" class="form-control form-control-sm"
                        placeholder="Input Password" />
                      
                        <input name="role" type="text" id="form3Example4" class="form-control form-control-sm"
                        placeholder="Input Role" />
                          
                      </div>
                          
                      </div>
                      <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">Create</button>
                      </div>
              
                    </form>
                      
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>